[
    {sasl, [{errlog_type, error}]},
    {pooler, [
        {pools, [
            [
                {name, riak_pool},
                {group, riak},
                {max_count, 40},
                {init_count, 15},
                {start_mfa, {riakc_pb_socket, start_link, ["127.0.0.1", 8087]}}
            ]
        ]}
    ]},
    {lager, [
        {log_root, "log/"},
        {handlers, [
            {lager_console_backend, [{level, error}, {formatter, lager_default_formatter},
                {formatter_config, [time, " [", severity, "] ", " [Line:", line, " Module:", module, "] ", message, "\n"]}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}, {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", message, "\n"]}]},
            {lager_file_backend, [{file, "console.log"}, {level, info}]}
        ]}
    ]}
].
